Repository rbardini/pokedex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add critters dev dependency to fix Netlify build
  package-lock.json
  package.json
Due: prettier --write

Remove search field autofocus
  components/search-field/search-field.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update README badges
  README.md
Due: prettier --write

Enforce rules of Hooks
  .eslintrc.json
  components/search-field/search-field.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Store search query into location hash
  pages/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Remove critters dev dependency
  package-lock.json
  package.json
Due: prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Define Spinner prop types
  components/spinner/spinner.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Use Essential Next.js Netlify plugin
  netlify.toml
  package-lock.json
  package.json
Due: prettier --write

Update dependencies
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

Add .nvmrc with latest Node.js LTS version
  .nvmrc
Due: none

Improve Cell hover styles
  components/cell/cell.module.css
Due: none

Update dependencies
  .eslintrc.json
  components/grid/grid.test.tsx
  components/search-field/search-field.test.tsx
  jest.config.json
  lib/get-english-entry.tsx
  lib/pokemons.tsx
  package-lock.json
  package.json
  pages/[id].tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update dependencies
  .husky/.gitignore
  next-env.d.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update dependencies
  .babelrc.json
  .gitignore
  components/grid/grid.test.tsx
  jest.config.js
  jest.config.json
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix dependencies badge
  README.md
Due: prettier --write

Rename master branch main
  .github/workflows/main.yml
Due: prettier --write

Remove unused styles
  styles/[id].module.css
  styles/index.module.css
Due: none

Add footer
  components/footer/footer.module.css
  components/footer/footer.tsx
  components/footer/index.tsx
  pages/[id].tsx
  pages/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update URL and other fields
  README.md
  package.json
Due: prettier --write

Update dependencies
  .github/workflows/main.yml
  .prettierrc.json
  components/cell/cell.module.css
  components/cell/cell.tsx
  components/grid/grid.test.tsx
  components/search-field/search-field.tsx
  package-lock.json
  package.json
  pages/[id].tsx
  pages/_app.tsx
  pages/index.tsx
  styles/globals.css
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix Netlify deploy
  netlify.toml
  next.config.js
Due: none

Migrate from `pages` to `app`
  app/[id]/page.tsx
  app/[id]/pokemon-page.tsx
  app/favicon.ico
  app/home-page.tsx
  app/layout.tsx
  app/page.tsx
  components/search-field/search-field.tsx
  pages/[id].tsx
  pages/_app.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

Update dependencies
  .github/workflows/main.yml
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  README.md
  components/grid/grid.test.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update dependencies
  .github/workflows/main.yml
  .gitignore
  .lintstagedrc.json
  app/[id]/page.tsx
  app/home-page.tsx
  eslint.config.mjs
  next-env.d.ts
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Show Pokémon numbers on list
  app/[id]/pokemon-page.tsx
  components/cell/cell.module.css
  components/cell/cell.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix tests
  components/grid/grid.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix Pokémon number animation
  app/[id]/pokemon-page.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Decrease stat bar height
  components/stat-bar/stat-bar.module.css
Due: none

Grow/shrink cells to fill grid
  components/cell/cell.module.css
  components/grid/grid.module.css
  styles/globals.css
Due: none

Update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Add dark mode
  components/cell/cell.module.css
  components/figure/figure.tsx
  components/footer/footer.module.css
  components/search-field/search-field.module.css
  components/spinner/spinner.tsx
  components/stat-bar/stat-bar.module.css
  components/tag/tag.module.css
  styles/[id].module.css
  styles/globals.css
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
